numpy>=1.16.4
lxml>=4.3.4
commonroad-io==2019.2
pyproj>=2.2.0
scipy>=1.3.0
Pillow >= 7.1.1
mercantile >= 1.1.3
utm >= 0.5.0
cartopy >= 0.17.0


# only for graphical display
PyQt5>=5.12.2
matplotlib>=3.1.0
-e git+https://gitlab.lrz.de/cps/commonroad-io.git@feature_traffic_rules#egg=commonroad-io

