ipython>7.16.0
sphinx>=2.2.1
sphinx-autodoc-typehints>=1.11.0,<1.21.0
sphinx-rtd-theme
sphinxcontrib-apidoc
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-napoleon
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
